<app-landinheader></app-landinheader>
<div
  class="relative bg-cover w-full sm:w-3/4 h-[60vh] sm:h-[80vh] mx-auto rounded-3xl"
  style="background-image: url('../../../assets/images/landing.png');"
>
  <!-- Texte en haut au centre -->
  <div class="absolute top-[10%] sm:top-[9%] left-1/2 transform -translate-x-1/2 text-center w-full px-4">
    <p class="font-bold text-kheder font-kavoon text-2xl sm:text-3xl lg:text-4xl">
      Your Journey to Mental Wellness Starts Here
    </p>
  </div>

  <!-- Bouton en bas au centre -->
  <div class="absolute bottom-[10%] sm:bottom-[3%] left-1/2 transform -translate-x-1/2 text-center w-full">
    <app-button
      class="text-white font-bold hover:bg-green-600"
      text="Start Reading"
      color="bg-kheder"
      (click)="redirectToLogIn()"
    ></app-button>
  </div>
</div>

<!-- Footer fixé au bas de la page -->
<app-footer class="fixed bottom-0 w-full z-10"></app-footer>