<div class="mt-1 flex justify-between items-center mb-2">
  <div>
    <label class="font-kalam font-bold text-3xl ml-20">Mindful path</label>
  </div>
  <div
    class="flex justify-between gap-14 text-2xl font-bold mr-20 cursor-pointer"
  >
    <nav class="font-kaisei hover:text-kheder" (click)="redirectToSignup()">
      Our Story
    </nav>
    <nav class="font-kaisei hover:text-kheder" (click)="redirectToSignup()">
      Write
    </nav>
    <nav class="font-kaisei hover:text-kheder" (click)="redirectToSignup()">
      Sign In
    </nav>
  </div>
</div>
