.search-bar {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
}

.btn-category {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.btn-category:hover {
  background-color: #45a049;
}

.btn-category.active {
  background-color: #388e3c;
}

.article-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Nombre de lignes à afficher */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Style de la bannière */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f44336; /* Rouge vif pour l'avertissement */
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  z-index: 9999; /* S'assurer que la bannière soit au-dessus du contenu */
  display: none; /* Par défaut, la bannière est cachée */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.banner.show {
  display: block;
}
