.search-bar {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
}

.btn-category {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.btn-category:hover {
  background-color: #45a049;
}

.btn-category.active {
  background-color: #388e3c;
}

.article-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Nombre de lignes à afficher */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
